body {
	padding-top: 50px;
}

.principal {
	padding: 40px 15px;
	text-align: center;
}

.my-custom-scrollbar {
position: relative;
height: 450px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}